<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="LocationConfigElement" type="UserProfile.Common.ConfigElements.LocationConfigElementConfigSection, UserProfile.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToApplication" />
      <section name="QuestionConfigElement" type="UserProfile.Common.ConfigElements.QuestionConfigElementConfigSection, UserProfile.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowExeDefinition="MachineToApplication" />        
    </configSections>
    <LocationConfigElement>
      <LocationConfigElement>
        <add name="dir" value="Profiles" />
      </LocationConfigElement>
    </LocationConfigElement>
    <QuestionConfigElement>
      <QuestionConfigElement>
        <add id="1" questionName="FullName" questionText="ФИО" answerType="string" />
        <add id="2" questionName="BirthDay" questionText="Дата рождения (Формат ДД.ММ.ГГГГ)" answerType="datetime" />
        <add id="3" questionName="Favorite" questionText="Любимый язык программирования" answerType="enum" />
        <add id="4" questionName="Experience" questionText="Опыт программирования на указанном языке (Полных лет)" answerType="int" />
        <add id="5" questionName="MobilePhone" questionText="Мобильный телефон" answerType="string" />
      </QuestionConfigElement>
    </QuestionConfigElement>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>    
  <runtime>    
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
                <dependentAssembly>    
                       <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />    
                       <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />    
                </dependentAssembly>    
         </assemblyBinding>    
  </runtime>
</configuration>